Author: Shai Sussman

Date: 26 May 2023

Description: Script to perform 'last-minute' preprocessing to the reulsts files

Use batyam_dashboard venv

In [5]:
import requests
import pandas as pd
import numpy as np
import json
import geopandas as gpd

In [6]:
# Load settings file:
response = requests.get('https://raw.githubusercontent.com/Shai2u/demographic_estimation_dashboard_article/main/assets/settings.json')
# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Load the JSON data from the response content
    settings = json.loads(response.content)
else:
    print(f"Error: {response.status_code}")
    
income_dict = settings['income_dict']

# Enrich agent track status
agents_track_status = pd.read_csv('https://raw.githubusercontent.com/Shai2u/demographic_estimation_dashboard_article/main/dashboard/data/agents_track_status.csv', index_col=0)

# Add 1 to renters and 0 to owners for pivoting
agents_track_status['income_cat'] = pd.cut(agents_track_status['income'], [0, income_dict["Low"], income_dict["Medium"], income_dict["High"]],right=True, labels=['Low','Medium','High'],ordered=True)
agents_track_status.loc[agents_track_status['rent']==1,'rent_own']='Rent'
agents_track_status.loc[agents_track_status['rent']==0,'rent_own']='Own'

In [7]:
agents_track_status

,bldCode,doorIndex,bldCodeDoorIndex,ProjNumber,aprtmentSize,yearsInBldg,age,lowDiscount,highDiscount,noDiscount,...,MainCost,cityTax,CostForStaying,ratioCostForStaying,reason_leave,mortgage,rentPrice,bld_status,income_cat,rent_own
0,210_19,1,210_19_1,20180988,70,32,19,0,1,0,...,NaN,NaN,NaN,NaN,NaN,0,0.0,Building before,Low,Own
1,210_19,2,210_19_2,20180988,70,30,67,0,0,1,...,NaN,NaN,NaN,NaN,NaN,0,0.0,Building before,Medium,Own
2,210_19,3,210_19_3,20180988,70,16,38,0,0,1,...,NaN,NaN,NaN,NaN,NaN,0,0.0,Building before,Medium,Own
3,210_19,4,210_19_4,20180988,70,6,16,0,1,0,...,NaN,NaN,NaN,NaN,NaN,0,0.0,Building before,Low,Own
4,210_19,5,210_19_5,20180988,70,17,61,0,0,1,...,NaN,NaN,NaN,NaN,NaN,0,0.0,Building before,Medium,Rent
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5743,201_75_rr,24,201_75_rr_24,502-0368860,112,0,50,0,0,1,...,450.0,608.16,9417.16,0.373252,NaN,8359,NaN,Building after,High,Own
5744,201_75_rr,25,201_75_rr_25,502-0368860,112,0,27,0,0,1,...,450.0,608.16,9369.16,0.376473,NaN,8311,NaN,Building after,High,Own
5745,201_75_rr,26,201_75_rr_26,502-0368860,112,0,24,0,0,1,...,450.0,608.16,8898.16,0.323602,NaN,0,NaN,Building after,High,Rent
5746,201_75_rr,27,201_75_rr_27,502-0368860,112,0,39,0,0,1,...,450.0,608.16,9369.16,0.342256,NaN,8311,NaN,Building after,High,Own
5747,201_75_rr,29,201_75_rr_29,502-0368860,112,0,66,0,0,1,...,450.0,608.16,8898.16,0.371326,NaN,0,NaN,Building after,High,Rent